* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

header .navbar .cont-logo {
  width: 100px;
  margin-top: 10px;
}
header .navbar .cont-logo img {
  width: 100%;
}
header .navbar .navbar-nav .nav-item .nav-link {
  color: #2717E5;
  font-weight: bold;
}

.bg-banner {
  height: 300px;
  background-image: url("../assets/imgbanner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-banner .inicio {
  color: azure;
  font-size: 48px;
  display: flex;
  justify-content: space-around;
}

.contenedor {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  flex: 1;
}
.contenedor.bg-veterinaria {
  background-color: #2717E5;
}
.contenedor.bg-adiestramiento {
  background-color: #719444;
}
.contenedor.bg-guarderia {
  background-color: #CAA2A1;
}
.contenedor.contenedor-guarderia {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
  height: 400px;
  background-image: url("../assets/guarderiaph.png");
}
.contenedor.contenedor-veterinaria {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
  height: 400px;
  background-image: url("../assets/veterinariaph.png");
}
.contenedor.contenedor-adiestramiento {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
  height: 400px;
  background-image: url("../assets/adiestradorph.png");
}

.ph-contenedor img {
  max-width: 100%;
  height: auto;
}

.equipo-completo h1 {
  font-weight: lighter;
  margin: 30px;
}
.equipo-completo .equipo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin: 100px 250px;
}
.equipo-completo .ph-equipo {
  width: 300px;
}
.equipo-completo .ph-equipo img {
  width: 100%;
  transition: transform 0.3s ease;
}
.equipo-completo .ph-equipo img:hover {
  transform: scale(1.1) translateY(-20px);
}
.equipo-completo .ph-equipo .equipo-name {
  color: #2717E5;
  text-align: center;
}
.equipo-completo .banner-equipo,
.equipo-completo .banner-final {
  background-color: #F4F4F4;
  color: #2717E5;
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.formulario {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.formulario form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.formulario form label, .formulario form input, .formulario form select, .formulario form textarea, .formulario form input[type=submit] {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}
.formulario form input[type=submit]:hover {
  background-color: #0a958b;
}

.text-form {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

footer {
  background-color: #E56117;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-logo {
  width: 100px;
  margin-top: 10px;
  margin-left: 30px;
}
footer .footer-logo img {
  width: 100%;
}
footer .social a {
  color: #ffffff;
  margin-right: 30px;
}

.contacto-text {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.visitanos-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #2717E5;
  justify-items: stretch;
  align-items: stretch;
}
.visitanos-container .visitanos-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  color: #ffffff;
}

.mapa-container {
  width: 100%;
}

@media (max-width: 768px) {
  .visitanos-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .equipo-completo .equipo {
    margin: 50px 20px;
    flex-direction: column;
    align-items: center;
  }
  .equipo-completo .ph-equipo {
    width: 100%;
  }
  .equipo-completo .banner-equipo,
  .equipo-completo .banner-final {
    font-size: 20px;
    flex-direction: column;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .equipo-completo h1 {
    font-size: 18px;
    margin: 20px;
  }
  .equipo-completo .banner-equipo,
  .equipo-completo .banner-final {
    font-size: 18px;
    padding: 5px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 18px;
    margin: 20px;
  }
  .equipo-completo {
    margin: 10px;
    gap: 10px;
  }
  .banner-equipo, .banner-final {
    font-size: 18px;
    padding: 5px;
  }
  .ph-equipo {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
