.header {
    display: flex;
  
    .cont-logo {
      width: 100px;
      margin-top: 10px;
  
      img {
        width: 100%;
      }
    }
  
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: blue !important;
          font-weight: bold !important;
        }
      }
    }
  }