$logo-width: 100px;

header {

  .navbar {
    .cont-logo {
      width: $logo-width;
      margin-top: 10px;

      img {
        width: 100%;
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $blue;
          font-weight: bold;
        }
      }
    }
  }
}
