//  colores
$primary-color: #2717E5;
$adiestramiento-color: #719444;
$font-color: aliceblue;

// imaagenes background 
$background-images: (
  "guarderia": "../assets/guarderiaph.png",
  "veterinaria": "../assets/veterinariaph.png",
  "adiestramiento": "../assets/adiestradorph.png"
);

// Mixin contenedor clases
@mixin contenedor($type) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: top;
  height: 400px;
  background-image: url(map-get($background-images, $type));
}

.contenedor {
  @include contenedor("guarderia");

  &.contenedor-guarderia {
    @include contenedor("guarderia");
  }

  &.contenedor-veterinaria {
    @include contenedor("veterinaria");
  }

  &.contenedor-adiestramiento {
    @include contenedor("adiestramiento");
  }
}

.ph-contenedor {
  img {
    max-width: 100%;
    height: auto;
  }
}

.veterinaria-contenedor {
  display: flex;
  flex-direction: wrap;

  .bg-veterinaria,
  .bg-adiestramiento {
    color: $font-color;
    flex: 1;
    padding: 20px;

    &.bg-veterinaria {
      background-color: $primary-color;
    }

    &.bg-adiestramiento {
      background-color: $adiestramiento-color;
    }
  }
}