h1 {
    font-weight: lighter;
    margin: 30px;
  }
  
  .equipo-completo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 100px 250px;
  
    .ph-equipo {
      width: 300px;
  
      img {
        width: 100%;
        transition: transform 0.3s ease;
  
        &:hover {
          transform: scale(1.1) translateY(-20px);
        }
      }
  
      .equipo-name {
        color: $primary-color;
        text-align: center;
      }
    }
  
    .banner-equipo, .banner-final {
      background-color: $banner-bg;
      color: $primary-color;
      font-size: 24px;
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding: 20px;
      margin-top: 20px;
    }
  }