.foot {
    background-color: $highlight-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .cont-logo {
      margin-left: 30px;
    }
  
    .social {
      a {
        color: #ffffff;
        margin-right: 30px;
      }
    }
  }
  