//variables - $key: $valor;

//tipografia
$title-primary: "Quicksand", sans-serif;

//tamaños de texto y variables tipográficas
$light: 300;
$bold: 900;
$medium: 500;
$regular: 400;

//colores
$primary-color: #2717E5;
$secondary-color: #CAA2A1;
$highlight-color: #E56117;
$font-color: aliceblue;
$banner-bg: #F4F4F4;
$hover-color: #0a958b;
